.one{
	float:left;
	font-size:13px;
}
.two{
	float:right;
	font-size:13px;
}
.three{
	position:absolute;
	top:350px;
	left:200px;
}
a{
	text-decoration:none;
	display:rgb(0, 0, 0);
	color:black;
}
a:hover{
	text-decoration:none;
	color:rgb(60, 132, 215);
}
#srh{
	position:absolute;
	left:400px;
	top:218px;
	font-size: 4px;
}
#wr{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	outline-color: rgb(81, 97, 224);
}
#in{
	position:absolute;
	top:0px;
	width:100px;
	height:35px;
	background-color: rgb(81, 97, 224);
	color:white;
	border:2px solid rgb(81, 97, 224);
	border-top-right-radius:5px;
	border-bottom-right-radius: 5px;
}
#p1{
	position:absolute;
	left:600px;
	top:25px;
	width:17%;
	height:23%;
}
#p2{
	width:60%;
	height:60%;
	border-radius:15px;
}